
body {
	background-color: #001f3f;
	color: white;
	width: 100%;
	padding: 30px;
	margin: 0px;
}

.winner {
	color: green;
}

.container {
	width: 50%;
	margin: 0 auto;
}
h1 {
	text-align: center;
	background-color: #FF4136;
	padding: 20px;
	
}
h1.highlight {
	background-color: #001f3f
}

p {
	background-color: #2ECC40;
	padding: 20px;
	/*width: 50%;*/
	/*margin: auto;*/
	text-align: center;
	font-weight: bold;
	color: #001f3f;
	font-size: 1.3em;
}

input {
	width: 100%;
	height: 50px;
	font-size: 1.7em;
	font-weight: bold;
	background-color: #DDDDDD;
}

.button {
    background-color: #0074D9; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%
}

/*#p1 {
	width: 49%;
	display: inline-block;
	background-color: #0074D9;
	margin-right: 5px;
}
#p2 {
	width: 48.1%;
	display: inline-block;
	margin-left: 5px;
	background-color: #0074D9;
}*/

#resetBtn {
	background-color: #FFDC00;
	color: black;
}

@media (max-width: 980px) {
	.button {
		display: inline-block;
		width: 100%;
	}
  
}